# Alumno: Gerardo de Miguel González

## Bibliotecas Numpy, Pandas y Matplotlib

In [0]:
#::GMG::Importamos lo necesario para hacer la práctica
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import requests
#import io

## Núcleos de  Población

### Archivo CSV

Descargue el fichero núcleos de población. Usando PANDAS, contestar en el notebook, a las siguientes preguntas:

In [0]:
#::GMG::Importamos un fichero csv y lo llamamos ndp (núcleos de población)
# https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url
#ndp = pd.read_csv(
#    io.StringIO(
#        requests.get(
#            'https://raw.githubusercontent.com/yerartdev/uc-m1967-mdsi/master/d8/Centroides_NucleosPoblacion.csv'
#        ).content.decode('utf-8'))
#)
ndp = pd.read_csv(
    'https://raw.githubusercontent.com/yerartdev/uc-m1967-mdsi/master/d8/Centroides_NucleosPoblacion.csv'
)

In [0]:
#::GMG::Estudiamos la estructura de los datos que hemos importado
indice=ndp.index
columnas=ndp.columns
valores=ndp.values

In [0]:
print('Indice: {} \n\nColumnas: {} \n\nValores: \n{}'.format(
    indice, 
    columnas, 
    valores[:5]
    )
)

Indice: RangeIndex(start=0, stop=852, step=1)

Columnas: Index(['FID', 'OBJECTID', 'Cod_INE', 'Localidad', 'Poblacion', 'CodMun',
       'Municipio', 'Cod_Provin', 'Provincia', 'Longitud', 'Latitud'],
      dtype='object')

Valores:
[[0 1 35002000101 'Agüimes' 29431.0 35002 'Agüimes' 35 'Las Palmas'
  -15.446012264 27.9005418852]
 [1 2 35003000201 'Antigua' 10458.0 35003 'Antigua' 35 'Las Palmas'
  -14.01330083 28.418966224200002]
 [2 3 35004000301 'Arrecife' 58156.0 35004 'Arrecife' 35 'Las Palmas'
  -13.551451235 28.9606494152]
 [3 4 35006000202 'Arucas' 36745.0 35006 'Arucas' 35 'Las Palmas'
  -15.521511534000002 28.1174962002]
 [4 5 35009000303 'Gáldar' 24473.0 35009 'Gáldar' 35 'Las Palmas'
  -15.654110982999999 28.1438727542]]

In [0]:
ndp.head()

,FID,OBJECTID,Cod_INE,Texto,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,X,Y
0,0,1,35002000101,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,35003000201,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,35004000301,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,35006000202,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,35009000303,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

In [0]:
#::GMG::Hay una columna que resulta ambigua en el dataset: Texto
#       Voy a cambiarla por Localidad
#
#       https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas
#       https://es.wikipedia.org/wiki/Localidad
#
#       Otras dos, i.e. X e Y tampoco son informativas y las voy a cambiar por
#       que corresponden a Latitud, Longitud
#
# https://journeynorth.org/tm/LongitudeIntro.html
# https://latitude.to/articles-by-country/es/spain/140414/bay-of-santander
ndp = ndp.rename(columns={'Texto': 'Localidad',
                          'X': 'Longitud', 
                          'Y': 'Latitud'}
                )
ndp.head()

,FID,OBJECTID,Cod_INE,Localidad,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,Longitud,Latitud
0,0,1,35002000101,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,35003000201,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,35004000301,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,35006000202,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,35009000303,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

In [0]:
#::GMG::Ahora las columnas finalmente son:
ndp.columns

Index(['FID', 'OBJECTID', 'Cod_INE', 'Localidad', 'Poblacion', 'CodMun',
       'Municipio', 'Cod_Provin', 'Provincia', 'Longitud', 'Latitud'],
      dtype='object')

In [0]:
#::GMG::Una idea del tamaño del dataset que tenemos entre manos
ndp.shape

(852, 11)

###  **Ejercicio 1**

- ¿Cuántos Municipios tienen más de 100000 habitantes?

In [0]:
#::GMG::Usamos loc con selección condicional para seleccionar las localidades
#
# https://www.youtube.com/watch?v=xvpNA7bC8cs 
#
#mas_de_100k = ndp[ndp.Poblacion > 100000].loc[:,['Localidad']]
mas_de_100k = ndp.loc[ndp.Poblacion > 100000,['Localidad']]
print('Hay {} poblaciones con más de 100k habitantes.'.format(
    len(mas_de_100k['Localidad'])
   )
)
#::GMG::Pero esto NO es lo que nos piden ... 
#       lo que hemos hecho es calcular las poblaciones de más de 100k habitantes (!!)

Hay 62 poblaciones con más de 100k habitantes.

In [0]:
#::GMG::Lo que hay que hacer agrupar por municipios las poblaciones (!!)
#
# https://www.youtube.com/watch?v=qy0fDqoMJx8
#
habitantes_municipios = ndp[['Municipio','Poblacion']].groupby('Municipio').sum()
print('Hay {} municipios con más de 100k habitantes.'
      .format(
          len(habitantes_municipios[habitantes_municipios.Poblacion > 100000])
      )
     )

Hay 75 municipios con más de 100k habitantes.

- ¿Cuál es la segunda ciudad más poblada?

In [0]:
#::GMG::Para obtener la segunda ciudad más poblada tenemos que obtener la lista ordenada de
#       menor a  mayor de Poblaciones y Habitantes y seleccionar el segundo elemento por la cola
#       de esa lista
#ndp.sort_values('Habitantes').iloc[-2]
print('La segunda ciudad más poblada es: \n\n{}'
      .format(
          ndp[['Localidad','Poblacion']].sort_values('Poblacion').iloc[-2]
      )
     )

La segunda ciudad más poblada es:

Localidad      Barcelona
Poblacion    1.61934e+06
Name: 623, dtype: object

- ¿Qué posición ocupa Granada en el ranking de las más pobladas?

In [0]:
#::GMG::Podemos sacar una lista ordenada hasta la posición de Granada 
mas_pobladas = ndp.sort_values(by='Poblacion', 
                               ascending=False)[['Localidad','Poblacion']]
mas_pobladas.head(18)
#::nota::vemos que granada está en la posición "18"

                      Localidad  Poblacion
355                      Madrid  3273049.0
623                   Barcelona  1619337.0
561                    Valencia   809267.0
492                     Sevilla   704198.0
591                    Zaragoza   675121.0
391                      Málaga   568507.0
420                      Murcia   441345.0
610                       Palma   404681.0
9    Las Palmas de Gran Canaria   383308.0
571                      Bilbao   353187.0
160            Alacant/Alicante   334418.0
254                     Córdoba   328547.0
565                  Valladolid   315522.0
135                        Vigo   297124.0
446                 Gijón/Xixón   277198.0
642   L'Hospitalet de Llobregat   258642.0
67                     A Coruña   246047.0
272                     Granada   239154.0

In [0]:
#::GMG::Podemos localizar fácilmente Granada dentro del Dataframe de poblaciones
#       ordenadas por número de habitantes.
#       Vemos que "Granada" tiene un índice 272 en el Dataframe original
mas_pobladas.loc[mas_pobladas['Localidad'] == 'Granada']

    Localidad  Poblacion
272   Granada   239154.0

In [0]:
#::GMG::Para obtener el index label
# https://stackoverflow.com/questions/21800169/python-pandas-get-index-of-rows-which-column-matches-certain-value
mas_pobladas.index[mas_pobladas['Localidad'] == 'Granada'].tolist()[0]

272

In [0]:
#::GMG::La pregunta que tenemos que hacernos es, ¿podemos obtener la posición
#       del índice de Granada dentro de los índices del nuevo Dataframe de
#       poblaciones ordenadas?
#       Este es el índice del que estamos hablando
mas_pobladas.index

Int64Index([355, 623, 561, 492, 591, 391, 420, 610,   9, 571,
            ...
            756, 841, 193, 503,  97, 525, 746, 168, 115, 307],
           dtype='int64', length=852)

In [0]:
#::GMG::Existe un método en pandas que nos permite localizar un índice concreto
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_loc.html
#
# ¿Cuál es la posición del índice de Granada?
# 
mas_pobladas.index.get_loc(
    mas_pobladas.index[mas_pobladas['Localidad'] == 'Granada'].tolist()[0])

17

In [0]:
#::GMG::Solamente tenemos que recordar que en Python los índices empiezan por 0
#       por lo que la posición es índice + 1
print('Granada está en la posición {} de la lista de las más pobladas'
      .format(
          mas_pobladas.index.get_loc(
    mas_pobladas.index[mas_pobladas['Localidad'] == 'Granada'].tolist()[0]) + 1
      )
     )

Granada está en la posición 18 de la lista de las más pobladas

### Ejercicio 2

Escriba los nombres de los 10 municipios con menos población.

In [0]:
#::GMG::Aquí hablamos de nuevo de 'municipios' por lo que hay necesidad de 
#       agrupamiento. Primero tenemos que obtener la lista ordenada de menor a 
#       mayor número de habitantes de los municipios y coger los 10 primeros
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html
habitantes_municipios = ndp[
    ['Municipio','Poblacion']
].groupby('Municipio').sum()
#habitantes_municipios.head()
menos_mas_poblados = habitantes_municipios.sort_values(
    by='Poblacion', ascending=True
)
print(menos_mas_poblados.head(10))

                Poblacion
Municipio
Zumarraga         10037.0
Caldas de Reis    10045.0
Amurrio           10050.0
Premià de Dalt    10064.0
Buñol             10077.0
Bembibre          10097.0
Ocaña             10098.0
Sax               10099.0
Xinzo de Limia    10245.0
Reinosa           10277.0

In [0]:
#::GMG::Más compacto, 10 primeros elementos de la lista de habitantes por 
#municipio ordenada de menor a mayor
ndp.groupby('Municipio').Poblacion.sum().sort_values().head(10)

Municipio
Zumarraga         10037.0
Caldas de Reis    10045.0
Amurrio           10050.0
Premià de Dalt    10064.0
Buñol             10077.0
Bembibre          10097.0
Ocaña             10098.0
Sax               10099.0
Xinzo de Limia    10245.0
Reinosa           10277.0
Name: Poblacion, dtype: float64

### Ejercicio 3

¿Cuántos municipios de León tienen más de 6000 habitantes?.

In [0]:
#::GMG::Aquí en primer lugar tenemos que seleccionar todos los municipios
#       dentro de la provincia de León e indexarlos con un condicional
#       sobre el número de sus habitantes
poblaciones_leon = ndp[ndp['Provincia'] == 'León']
#::GMG::Los municipios de León tienen una sola población por lo que no
#       hace fakta hacer ninguna agregación
poblaciones_leon.loc[:,['Localidad','Municipio', 'Poblacion']]

                   Localidad                Municipio  Poblacion
96                   Astorga                  Astorga    12015.0
97                  Bembibre                 Bembibre    10097.0
98                Ponferrada               Ponferrada    68767.0
99                Villablino               Villablino    10553.0
327                La Bañeza                La Bañeza    11050.0
328                     León                     León   134012.0
329  San Andrés del Rabanedo  San Andrés del Rabanedo    31306.0
330           Villaquilambre           Villaquilambre    17631.0
751       Trobajo del Camino  San Andrés del Rabanedo    21231.0

In [0]:
mas_de_6k = poblaciones_leon.loc[poblaciones_leon['Poblacion'] > 6000,
                                 ['Municipio', 'Poblacion']
                                ]
print(mas_de_6k.sort_values(by='Poblacion', ascending=True))

                   Municipio  Poblacion
97                  Bembibre    10097.0
99                Villablino    10553.0
327                La Bañeza    11050.0
96                   Astorga    12015.0
330           Villaquilambre    17631.0
751  San Andrés del Rabanedo    21231.0
329  San Andrés del Rabanedo    31306.0
98                Ponferrada    68767.0
328                     León   134012.0

### Ejercicio 4

¿Cuál es el municipio situado más al Norte? (Usar el valor de la coordenada "Y" que representa la latitud en grados). Proporcione también la provincia a la que pertenece y su población.

In [0]:
#::GMG::Lo que queremos saber es cuál es el municipio que se encuentra
#       más el norte, que será el que tenga la población que se encuentra
#       más al norte, la que tenga la latitud más alta.
#       Además queremos saber a qué provincia pertenece el municipio
#       y el número de habitantes que tiene.  
#
#::GMG::La población que tiene la latitud más alta es
ndp.loc[ndp.Latitud == ndp.Latitud.max(),
        ['Localidad','Municipio', 'Provincia', 'Poblacion']
       ]

    Localidad Municipio Provincia  Poblacion
104   Viveiro   Viveiro      Lugo    16211.0

In [0]:
#::GMG::A aprtir de aquí ya tenemos la respuesta
municipio_mas_al_norte = ndp.loc[ndp.Latitud == ndp.Latitud.max(), 
                                 'Municipio'].iloc[0]
print('''El municipio situado más al norte es {} 
que pertenece a la provincia de {} y tiene {} habitantes.'''.format(
   municipio_mas_al_norte,
   ndp[ndp.Municipio == municipio_mas_al_norte]['Provincia'].iloc[0],
   ndp[ndp.Municipio == municipio_mas_al_norte].groupby(
       'Municipio').sum()['Poblacion'].iloc[0]
     )
)

El municipio situado más al norte es Viveiro
que pertenece a la provincia de Lugo y tiene 16211.0 habitantes.

### Ejercicio 5

¿Cual es el municipio de la provincia de Cantabria situado más al Este?. ¿Cual es el situado más al Oeste?.

In [0]:
#::GMG::Hagamos 'inventario' de las localidades y municipios de Cantabria ...
localidades_cantabria = ndp.loc[ndp.Provincia == 'Cantabria',
                               ['Localidad',
                                'Municipio',
                                'Latitud',
                                'Longitud']
                              ]
print(localidades_cantabria)
#::nota::nos damos cuenta de que NO están los 102 municipios de la 'provincia'
#        de Cantabria ...
# https://es.wikipedia.org/wiki/Cantabria#Municipios

                  Localidad               Municipio    Latitud  Longitud
462            El Astillero            El Astillero  43.400912 -3.817215
463                Muriedas                 Camargo  43.407973 -3.884857
464         Castro-Urdiales         Castro-Urdiales  43.384584 -3.216038
465  Los Corrales de Buelna  Los Corrales de Buelna  43.260103 -4.062094
466                  Laredo                  Laredo  43.410657 -3.417285
467                  Renedo                Piélagos  43.353299 -3.950722
468                 Reinosa                 Reinosa  43.002064 -4.138583
469    Santa Cruz de Bezana    Santa Cruz de Bezana  43.443018 -3.904522
470               Santander               Santander  43.462979 -3.804748
471                 Santoña                 Santoña  43.444262 -3.455307
472             Torrelavega             Torrelavega  43.351629 -4.047165
810            Peñacastillo               Santander  43.448140 -3.863961
811               San Román               Santander  43.470062 -3.858462
812               Campuzano             Torrelavega  43.341213 -4.051823

In [0]:
#::GMG::Solamente podemos calcular los municipios que estén más al este (oeste)
#       de los que tenemos en el Dataframe de Pandas :)
#
#       El parámetro a considerar aquí es la longitud. 
#       El municipio con la población que tenga la mayor longitud estará más
#       al este y el que tenga la de menor longitud más al oeste
#::nota::estamos operando con números negativos porque Cantabria está a la
#        izda del meridiano de Greenwich
print('''El municipio más oriental de Cantabria en el Dataframe es {}
y el municipio más occidental es {}'''.format(
       localidades_cantabria.loc[localidades_cantabria.Longitud == \
                          localidades_cantabria.Longitud.max(), 
                          'Municipio'].iloc[0],
       localidades_cantabria.loc[localidades_cantabria.Longitud == \
                          localidades_cantabria.Longitud.min(), 
                          'Municipio'].iloc[0]
     )
)

El municipio más oriental de Cantabria en el Dataframe es Castro-Urdiales
y el municipio más occidental es Reinosa

### Ejercicio 6

Dígame los nombres de los Municipios más cercano y más lejano a Madrid. Para ello debe calcular la distancia en todos ellos y Madrid. Por supuesto, Madrid no cuenta.

In [0]:
#::GMG::Los conceptos 'más cercano' y 'más lejano' tiene que basarse en una 
#       distancia y puesto que estamos hablando de latitudes y longitudes sobre
#       un geoide que es la tierra lo propio es usar la fórmula de 'haversine' :
#
# https://en.wikipedia.org/wiki/Haversine_formula
#
#::note::Hay una biblioteca en Pypi:
#
# https://pypi.org/project/haversine/ 
#
# pero voy a usar una implementación con Numpy (eficiente):
#
# https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas
#
# http://www.movable-type.co.uk/scripts/latlong.html
#
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [0]:
#::GMG:: En primer lugar el punto de referencia que tenemos para calcular la
#        distancia es la localidad de Madrid
#
#  https://es.wikipedia.org/wiki/Municipio
#referencia = ndp.loc[ndp['Localidad'] == 'Madrid',['Longitud','Latitud']]
referencia = ndp.loc[ndp['Localidad'] == 'Madrid',:]
referencia

,FID,OBJECTID,Cod_INE,Localidad,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,Longitud,Latitud
355,355,356,28079000101,Madrid,3273049.0,28079,Madrid,28,Madrid,-3.703797,40.41663

In [0]:
print('El punto de referencia es {} [Lon: {}, Lat: {}]'.format(
        referencia.Localidad.values[0],
        referencia.Longitud.values[0],
        referencia.Latitud.values[0],
     )
)

El punto de referencia es Madrid [Lon: -3.7037970760000003, Lat: 40.4166300011]

In [0]:
#::GMG::nota::Otras maneras de obtener la longitud y latitud
#referencia.iloc[:,-2:]
#referencia.iloc[:,-2:].values
#referencia.iloc[:,-2:].values.shape
#referencia.iloc[:,-2:].values[0]
#referencia.iloc[:,-2:].values[0,0]
#referencia.iloc[:,-2:].values[0,1]
#referencia.loc[:,['Longitud','Latitud']].values

In [0]:
#::GMG::La lista de candidatos sobre la que tenemos que calcular la distancia
#       son 'el resto' de las localidades del dataset
candidatos = ndp.loc[ndp['Municipio'] != 'Madrid',:]
candidatos.head()

,FID,OBJECTID,Cod_INE,Localidad,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,Longitud,Latitud
0,0,1,35002000101,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,35003000201,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,35004000301,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,35006000202,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,35009000303,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

In [0]:
#::GMG::nota::ejemplo de cálculo de distancia a ... Santander
santander = candidatos.loc[candidatos['Localidad'] == 'Santander',
                           ['Longitud','Latitud']
                          ]

print('La distancia de Madrid a Santander es {} km.'.format(
      haversine_np(
            referencia.Longitud.values[0],
            referencia.Latitud.values[0],
            santander.Longitud.values[0],
            santander.Latitud.values[0]
         )        
     )
)

La distancia de Madrid a Santander es 338.6286092834457 km.

In [0]:
#::GMG::Ahora obtenemos la serie de distancias de los candidatos a Madrid
#
# https://www.youtube.com/watch?v=P_q0tkYqvSk
#
# https://stackoverflow.com/questions/25767596/vectorised-haversine-formula-with-a-pandas-dataframe
#
#::GMG::Vamos a seleccionar un DataFrame Longitud y Latitud de los candidatos
#       y le vamos a aplicar la distancia con Madrid con haversine
distancias = candidatos.loc[:,['Longitud','Latitud']].apply(
    lambda x: haversine_np(
           referencia.Longitud.values[0],
           referencia.Latitud.values[0],
           x.Longitud,
           x.Latitud         
        ), axis = 1
)

In [0]:
#::GMG::La serie mantiene los índices de las localidades por lo que podemos
#       comprobar que la operación se ha realizado correctamente
#::nota::uso el hecho de que la columna FID del DataFrame proporciona el índice
#        de una localidad (!)
print('La distancia de Santander a Madrid es de {} km.'.format(
         distancias[ndp.loc[ndp['Localidad'] == 'Santander','FID'].values[0]]
     )
)

La distancia de Santander a Madrid es de 338.6286092834457 km.

In [0]:
#::GMG::Ahora hay que ordenar la Serie de menor a mayor, obtener el índice
#       el primero (más cercano) y último (más lejano) y usarlo para 
#       conocer el municipio al que corresponde
print('El municipio más cercano a Madrid es {} y el más lejano {}'.format(
        ndp.Municipio.iloc[distancias.sort_values().index[0]],
        ndp.Municipio.iloc[distancias.sort_values().index[-1]],
     )
)

El municipio más cercano a Madrid es Pozuelo de Alarcón y el más lejano Los Llanos de Aridane

### Ejercicio 7

¿Cuántos Municipios hay en un radio de 5 grados de la ciudad de Barcelona?.

In [0]:
#::GMG::Obtengamos la ciudad (localidad) de Barcelona, el punto de partida
barcelona = ndp.loc[ndp['Localidad'] == "Barcelona",:]
barcelona

,FID,OBJECTID,Cod_INE,Localidad,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,Longitud,Latitud
623,623,624,8019000101,Barcelona,1619337.0,8019,Barcelona,8,Barcelona,2.176349,41.384247

In [0]:
#::GMG::Ahora vamos a calcular las distancias en km de todas las localidades 
#       a Barcelona (como hicimos con Mardrid en el ejercicio 6)
candidatos = ndp.loc[ndp['Localidad'] != 'Barcelona',:]
distancias = candidatos.loc[:,['Longitud','Latitud']].apply(
    lambda x: haversine_np(
           barcelona.Longitud.values[0],
           barcelona.Latitud.values[0],
           x.Longitud,
           x.Latitud         
        ), axis = 1
)

In [0]:
#::GMG::Ahora tenemos que caluclar la distancia de 5 grados en km y obtener 
#       cuántos municipios "caen" dentro de esa distancia
#       https://stackoverflow.com/questions/15886846/python-elegant-way-of-finding-the-gps-coodinates-of-a-circle-around-a-certain-g
#       http://www.movable-type.co.uk/scripts/latlong.html

### Ejercicio 8

Obtenga la media, mediana, desviación estándar, valor máximo y valor mínimo de la población de los municipios de la provincia de Cantabria.

In [0]:
#::GMG::Obtengamos en primer lugar la lista de los municipios de Cantabria y su
#       población (tenemos que agregrar la población por municipio)
municipios_cantabria = ndp.loc[ndp['Provincia'] == 'Cantabria',
        ['Municipio','Poblacion']].groupby('Municipio').sum()
municipios_cantabria

                        Poblacion
Municipio
Camargo                   31552.0
Castro-Urdiales           32258.0
El Astillero              17545.0
Laredo                    12378.0
Los Corrales de Buelna    11622.0
Piélagos                  21268.0
Reinosa                   10277.0
Santa Cruz de Bezana      11607.0
Santander                210233.0
Santoña                   11584.0
Torrelavega               67124.0

In [0]:
#::GMG::Existe una función llamada describe() que calcula todo los
#       estadísticos solicitados de una sola vez
#
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html
municipios_cantabria.describe()

           Poblacion
count      11.000000
mean    39768.000000
std     58962.860955
min     10277.000000
25%     11614.500000
50%     17545.000000
75%     31905.000000
max    210233.000000

### Ejercicio 9

Usando los métodos de agregación, calcular las poblaciones de cada provincia.

In [0]:
provincias = ndp.loc[:, ['Provincia','Poblacion']].groupby('Provincia').sum()
provincias

                        Poblacion
Provincia
A Coruña                 818982.0
Alacant/Alicante        1804252.0
Albacete                 280673.0
Almería                  550604.0
Asturias                 965777.0
Badajoz                  361700.0
Barcelona               4934795.0
Burgos                   250766.0
Cantabria                437448.0
Castelló/Castellón       476388.0
Ceuta                     80579.0
Ciudad Real              348364.0
Cuenca                    71921.0
Cáceres                  176220.0
Cádiz                   1166531.0
Córdoba                  590503.0
Girona                   474739.0
Granada                  604357.0
Guadalajara              139373.0
Guipúzcoa                546141.0
Huelva                   361777.0
Huesca                   124838.0
Illes Balears           1041183.0
Jaén                     426169.0
La Rioja                 203911.0
Las Palmas              1220407.0
León                     316662.0
Lleida                   199135.0
Lugo                     162422.0
Madrid                  6315312.0
Melilla                   76034.0
Murcia                  1599339.0
Málaga                  1702839.0
Navarra                  440005.0
Ourense                  161821.0
Palencia                  82169.0
Pontevedra               794690.0
Salamanca                197780.0
Santa Cruz de Tenerife   989964.0
Segovia                   55748.0
Sevilla                 1671058.0
Soria                     39838.0
Tarragona                598738.0
Teruel                    51532.0
Toledo                   332751.0
Valladolid               372022.0
València/Valencia       2189461.0
Vizcaya                  984560.0
Zamora                    85098.0
Zaragoza                 743312.0
Álava                    266717.0
Ávila                     58245.0

### Ejercicio 10

Dibujar el valor de la población para las diferentes ciudades (usar las funciones vistas en MatPlotLib).

### Ejercicio 11

Hacer un gráfico equivalente pero para las diferentes provincias. Seleccionar un punto representativo de las ciudades incluidas en cada provincia.

## Series Temporales

Los ficheros precip.csv y precip.stn contienen los datos de precipitación diaria de los años 2000-2010 para 86 estaciones meteorológicas distribuidas por Europa.

### Ejercicio 0

Leer ambos ficheros utilizando las funciones correspondientes de PANDAS.

In [0]:
#::GMG::Leemmos el fichero de estaciones
estaciones = pd.read_csv(
    'https://raw.githubusercontent.com/yerartdev/uc-m1967-mdsi/master/d8/precip.stn'
)

In [27]:
#::GMG::Estudiamos la estructura de los datos que hemos importado
print('Indice: {} \n\nColumnas: {} \n\nValores: \n{}'.format(
    estaciones.index, 
    estaciones.columns, 
    estaciones.values[:5]
   )
)

Indice: RangeIndex(start=0, stop=86, step=1)

Columnas: Index(['station_id', ' name', ' longitude', ' latitude', ' altitude',
       ' source'],
      dtype='object')

Valores:
[[12 ' GRAZ' 15.45 47.0831 366 ' ECA&D']
 [13 ' INNSBRUCK' 11.4 47.2667 577 ' ECA&D']
 [14 ' SALZBURG' 13.0 47.8 437 ' ECA&D']
 [15 ' SONNBLICK' 12.95 47.05 3106 ' ECA&D']
 [16 ' WIEN' 16.35 48.2331 198 ' ECA&D']]

In [5]:
estaciones.head()

   station_id        name   longitude   latitude   altitude  source
0          12        GRAZ       15.45    47.0831        366   ECA&D
1          13   INNSBRUCK       11.40    47.2667        577   ECA&D
2          14    SALZBURG       13.00    47.8000        437   ECA&D
3          15   SONNBLICK       12.95    47.0500       3106   ECA&D
4          16        WIEN       16.35    48.2331        198   ECA&D

In [6]:
#::GMG::Una idea del tamaño del dataset que tenemos entre manos
estaciones.shape

(86, 6)

In [0]:
#::GMG::Leemos la series de precipitaciones
precipitaciones = pd.read_csv(
    'https://raw.githubusercontent.com/yerartdev/uc-m1967-mdsi/master/d8/precip.csv'
)

In [26]:
#::GMG::Estudiamos la estructura de los datos que hemos importado
print('Indice: {} \n\nColumnas: {} \n\nValores: \n{}'.format(
    precipitaciones.index, 
    precipitaciones.columns, 
    precipitaciones.values[:5]
   )
)

Indice: RangeIndex(start=0, stop=4018, step=1)

Columnas: Index(['YYYYMMDD', ' 000012', ' 000013', ' 000014', ' 000015', ' 000016',
       ' 000017', ' 000021', ' 000028', ' 000029', ' 000030', ' 000032',
       ' 000038', ' 000039', ' 000042', ' 000048', ' 000054', ' 000058',
       ' 000059', ' 000062', ' 000063', ' 000107', ' 000113', ' 000173',
       ' 000175', ' 000176', ' 000177', ' 000190', ' 000191', ' 000192',
       ' 000194', ' 000195', ' 000200', ' 000201', ' 000212', ' 000214',
       ' 000217', ' 000219', ' 000229', ' 000231', ' 000232', ' 000234',
       ' 000236', ' 000239', ' 000242', ' 000243', ' 000244', ' 000272',
       ' 000274', ' 000275', ' 000322', ' 000330', ' 000332', ' 000333',
       ' 000339', ' 000349', ' 000350', ' 000351', ' 000355', ' 000450',
       ' 000462', ' 000465', ' 000468', ' 000483', ' 000708', ' 000800',
       ' 000951', ' 001009', ' 001020', ' 001051', ' 001394', ' 001427',
       ' 001662', ' 001684', ' 001686', ' 001687', ' 002006', ' 002062',
       ' 002762', ' 003919', ' 003946', ' 003991', ' 003994', ' 004002',
       ' 004004', ' 005585', ' 007682'],
      dtype='object')

Valores:
[['2000-01-01' ' 0' ' 3.8' 3.7 ' 13.4' ' 7.3' ' 1' 0.0 3.1 0.1 0.7 ' 1'
  0.0 ' 0' 1.3 2.4 1.8 22.3 ' 0' ' 0' ' 0.2' 0.7 ' 2.8' ' 0' ' 0' ' 0'
  ' 0' ' 0' ' 0.7' ' 4.2' ' 2.5' ' 0' ' 0.1' ' 1.1' ' 0' 0.0 ' 0' ' 13.3'
  0.0 0.0 0.0 0.7 0.0 0.3 ' 0' ' 0.1' 1.4 0.8 ' 0' ' 5.4' ' 2.5' ' 3.8'
  ' 0.5' ' 1.5' 0.2 ' 20' 0.0 0.0 ' 0.8' ' 8.3' 7.1 1.5 0.5 3.2 1.0 ' 3'
  1.4 ' 0.2' ' 0.8' 5.1 0.0 2.0 ' 0' 0.0 0.0 ' 0.2' 3.7 27.5 2.6 0.0 0.0
  0.9 1.2 1.5 1.1 ' 4.8' 0.4]
 ['2000-01-02' ' 0' ' 0' 0.0 ' 3.9' ' 1.6' ' 0.8' 0.8 6.6 4.4 3.6 ' 0.4'
  0.0 ' 0' 0.0 0.0 0.0 0.0 ' 0' ' 0' ' 1.1' 0.9 ' 0.5' ' 0' ' 0' ' 0'
  ' 0' ' 0.9' ' 0.3' ' 0.5' ' 5.6' ' 0.1' ' 1.2' ' 0' ' 0' 0.0 ' 0' ' 0'
  0.0 0.0 0.0 0.8 0.0 0.0 ' 0' ' 0' 0.0 15.4 ' 0' ' 5.6' ' 0.1' ' 0.4'
  ' 1' ' 0' 12.4 ' 11' 3.0 1.0 ' 0' ' 1.8' 0.6 1.5 0.1 0.0 3.4 ' 0' 0.0
  ' 4.2' ' 0.9' 18.9 0.0 3.5 ' 0' 0.0 0.0 ' 0.5' 2.1 0.0 0.0 0.0 0.0 0.0
  0.0 0.1 0.0 ' 5' 7.8]
 ['2000-01-03' ' 0' ' 0' 0.0 ' 0' ' 0' ' 0' 0.0 0.1 1.8 0.7 ' 0' 0.4 ' 0'
  5.2 0.0 0.0 0.0 ' 0' ' 0' ' 0' 2.4 ' 0.4' ' 0' ' 0' ' NaN' ' 0' ' 0'
  ' 1.3' ' 1.3' ' 4' ' 0.2' ' 1.3' ' 1.8' ' 0' 0.0 ' 0.2' ' 0' 0.0 0.0
  0.0 0.0 0.0 0.0 ' 0' ' 0' 0.0 1.6 ' 8' ' 1.5' ' 2.2' ' 0.9' ' 1' ' 1'
  2.5 ' 3' 3.0 0.0 ' 0' ' 1.1' 2.8 0.6 4.5 0.0 0.1 ' 0' 1.1 ' 2.6' ' 0.3'
  32.1 1.8 4.8 ' 0' 0.0 0.0 ' 0' 7.1 0.0 0.0 0.0 0.0 0.1 8.1 0.0 0.0
  ' 1.6' 2.1]
 ['2000-01-04' ' 0' ' 0' 2.0 ' 1.1' ' 0.4' ' 10.9' 0.0 1.7 7.6 4.4 ' 0.8'
  1.6 ' 0' 2.5 0.2 3.5 7.9 ' 0' ' 0' ' 0' 2.5 ' 1.8' ' 0' ' 0' ' 0' ' 0'
  ' 0.1' ' 0.1' ' 0' ' 3.2' ' 0.3' ' 1.6' ' 2' ' 0' 0.0 ' 0' ' 0' 0.0 0.0
  0.0 0.0 0.0 3.5 ' 0' ' 10.8' 2.7 14.2 ' 0.2' ' 1' ' 4' ' 0.1' ' 4.8'
  ' 0.6' 7.2 ' 14' 9.0 0.0 ' 0' ' 0.7' 0.0 0.5 1.8 2.2 2.5 ' 0.2' 0.5
  ' 3.1' ' 2.5' 7.1 0.2 0.0 ' 0' 0.0 0.0 ' 0' 12.1 0.7 0.2 0.0 0.0 3.2
  4.6 6.5 2.3 ' 0' 0.4]
 ['2000-01-05' ' 0' ' 0' 1.3 ' 1.7' ' 0' ' 0' 0.0 0.1 0.3 0.1 ' 0.2' 0.0
  ' 0' 0.0 1.4 0.0 2.3 ' 0' ' 0' ' 0' 0.4 ' 0' ' 0' ' 0' ' 0' ' 0' ' 0.4'
  ' 0.1' ' 0.3' ' 4.1' ' 0.4' ' 1.9' ' 0.3' ' 0' 1.0 ' 0' ' 0' 0.7 0.0
  0.0 0.0 0.0 0.7 ' 0' ' 5.8' 0.1 8.8 ' 1' ' 1.8' ' 0' ' 0.3' ' 6.6'
  ' 2.5' 0.3 ' 21' 2.0 0.0 ' 0' ' 0.1' 0.2 0.0 0.0 0.0 0.0 ' 0' 0.0 ' 0'
  ' 4.4' 0.1 1.7 0.0 ' 0' 0.0 0.0 ' 0' 0.5 0.0 0.0 0.0 0.0 0.0 0.0 3.5
  0.2 ' 1.3' 0.1]]

In [0]:
#::GMG::Hay que adecuar los nombres de las columnas (Date e identificación de
#       las estaciones)
# https://developmentality.wordpress.com/2012/03/30/three-ways-of-creating-dictionaries-in-python/
# http://cmdlinetips.com/2018/03/how-to-change-column-names-and-row-indexes-in-pandas/
# http://cmdlinetips.com/2018/09/how-to-convert-a-column-to-row-name-index-in-pandas/
precipitaciones.rename(
    columns= dict(
        zip(
            precipitaciones.columns[1:].tolist(),
            #estaciones.station_id.to_dict().values()
            estaciones.station_id.tolist()
        )
    ),
    inplace = True
)

In [30]:
#::GMG::Y la columna temporal de días 
precipitaciones.rename(columns={'YYYYMMDD':'date'}, inplace=True)
print(precipitaciones.columns)

Index(['date',     12,     13,     14,     15,     16,     17,     21,     28,
           29,     30,     32,     38,     39,     42,     48,     54,     58,
           59,     62,     63,    107,    113,    173,    175,    176,    177,
          190,    191,    192,    194,    195,    200,    201,    212,    214,
          217,    219,    229,    231,    232,    234,    236,    239,    242,
          243,    244,    272,    274,    275,    322,    330,    332,    333,
          339,    349,    350,    351,    355,    450,    462,    465,    468,
          483,    708,    800,    951,   1009,   1020,   1051,   1394,   1427,
         1662,   1684,   1686,   1687,   2006,   2062,   2762,   3919,   3946,
         3991,   3994,   4002,   4004,   5585,   7682],
      dtype='object')

In [31]:
#::GMG::Vemos el resultado
precipitaciones.head()

,date,12,13,14,15,16,17,21,28,29,...,2062,2762,3919,3946,3991,3994,4002,4004,5585,7682
0,2000-01-01,0,3.8,3.7,13.4,7.3,1,0.0,3.1,0.1,...,27.5,2.6,0.0,0.0,0.9,1.2,1.5,1.1,4.8,0.4
1,2000-01-02,0,0,0.0,3.9,1.6,0.8,0.8,6.6,4.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,5,7.8
2,2000-01-03,0,0,0.0,0,0,0,0.0,0.1,1.8,...,0.0,0.0,0.0,0.0,0.1,8.1,0.0,0.0,1.6,2.1
3,2000-01-04,0,0,2.0,1.1,0.4,10.9,0.0,1.7,7.6,...,0.7,0.2,0.0,0.0,3.2,4.6,6.5,2.3,0,0.4
4,2000-01-05,0,0,1.3,1.7,0,0,0.0,0.1,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.2,1.3,0.1

In [32]:
#::GMG::Una idea del tamaño del dataset que tenemos entre manos
precipitaciones.shape

(4018, 87)

In [34]:
#::GMG::La columna 'date' no es un date_range sino una serie de fechas guardadas
#       como cadenas de caracteres con el formato YYYYMMDD
display(type(precipitaciones.date), type(precipitaciones.date[0]))

pandas.core.series.Series

str

### Ejercicio 1

Obtener y exportar en csv los datos asociados a las series mensuales, estacionales y anuales

### Ejercicio 2

Dibujar la serie temporal asociada al promedio espacial de los datos mensuales, estacionales y anuales.

### Ejercicio 3

Dibujar la distribución espacial de las estaciones, así como los valores promedio y máximo.

### Ejercicio 4

Calcular la frecuencia de días con precipitaciones mayores (>) de 1 mm.