# Alumno: Gerardo de Miguel González

## Archivo CSV

Descargue el fichero núcleos de población. Usando PANDAS, contestar en el notebook, a las siguientes preguntas:

In [1]:
#::GMG::Importamos lo necesario para hacer la práctica
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#::GMG::Importamos un fichero csv y lo llamamos ndp (núcleos de población)
ndp = pd.read_csv('Centroides_NucleosPoblacion.csv')

In [3]:
#::GMG::Estudiamos la estructura de los datos que hemos importado
indice=ndp.index
columnas=ndp.columns
valores=ndp.values

In [6]:
print('Indice: {} \n\nColumnas: {} \n\nValores: {}'.format(indice, columnas, valores))

Indice: RangeIndex(start=0, stop=852, step=1)

Columnas: Index(['FID', 'OBJECTID', 'Cod_INE', 'Texto', 'Poblacion', 'CodMun',
       'Municipio', 'Cod_Provin', 'Provincia', 'X', 'Y'],
      dtype='object')

Valores: [[0 1 35002000101 ... 'Las Palmas' -15.446012264 27.9005418852]
 [1 2 35003000201 ... 'Las Palmas' -14.01330083 28.418966224200002]
 [2 3 35004000301 ... 'Las Palmas' -13.551451235 28.9606494152]
 ...
 [849 850 30030000126 ... 'Murcia' -1.130563853 37.9957145751]
 [850 851 45168000102 ... 'Toledo' -3.948363664 39.866698976100004]
 [851 852 12040000102 ... 'Castelló/Castellón' 0.012911354
  39.973567825100005]]

In [8]:
ndp.head()

,FID,OBJECTID,Cod_INE,Texto,Poblacion,CodMun,Municipio,Cod_Provin,Provincia,X,Y
0,0,1,35002000101,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,35003000201,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,35004000301,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,35006000202,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,35009000303,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

In [9]:
#::GMG::Hay dos columnas que resultan equívocas en el dataset: Texto y Población
#       Voy a cambiarlas por Población y Habitantes :)
#       https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas
ndp = ndp.rename(columns={'Poblacion': 'Habitantes', 'Texto': 'Poblacion'})
ndp.head()

,FID,OBJECTID,Cod_INE,Poblacion,Habitantes,CodMun,Municipio,Cod_Provin,Provincia,X,Y
0,0,1,35002000101,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,35003000201,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,35004000301,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,35006000202,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,35009000303,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

**1.** ¿Cuántos Municipios tienen más de 100000 habitantes?. ¿Cuál es la segunda ciudad más poblada?. ¿Qué posición ocupa Granada en el ranking de las más pobladas?.

In [32]:
#::GMG::Usamos fancy indexing para seleccionar las poblaciones
#mas_de_100k = ndp.loc[:,['Poblacion','Habitantes']]
mas_de_100k = ndp[ndp.Habitantes > 100000].loc[:,['Poblacion']]
#type(mas_de_100k)
print('Hay {} poblaciones con más de 100k habitantes.'.format(len(mas_de_100k['Poblacion'])))
#::GMG::Pero esto NO es lo que nos piden ... 
#       lo que hemos hecho es calcular las poblaciones de más de 100k habitantes (!!)

Hay 62 poblaciones con más de 100k habitantes.

In [38]:
#::GMG::Lo que hay que hacer agrupar por municipios las poblaciones (!!)
habitantes_municipios = ndp[['Municipio','Habitantes']].groupby('Municipio').sum()
print('Hay {} municipios con más de 100k habitantes.'
      .format(
          len(habitantes_municipios[habitantes_municipios.Habitantes > 100000])
      )
     )

Hay 75 municipios con más de 100k habitantes.

In [43]:
#::GMG::Para obtener la segunda ciudad más poblada tenemos que obtener la lista ordenada de
#       menor a  mayor de Poblaciones y Habitantes y seleccionar el segundo elemento por la cola
#       de esa lista
#ndp.sort_values('Habitantes').iloc[-2]
print('La segunda ciudad más poblada es: \n\n{}'
      .format(
          ndp[['Poblacion','Habitantes']].sort_values('Habitantes').iloc[-2]
      )
     )

La segunda ciudad más poblada es:

Poblacion       Barcelona
Habitantes    1.61934e+06
Name: 623, dtype: object

In [67]:
mas_pobladas = ndp.sort_values(by='Habitantes', ascending=False)[['Poblacion','Habitantes']]
#mas_pobladas[mas_pobladas['Poblacion'] == 'Granada'].index.item()
mas_pobladas.head()

     Poblacion  Habitantes
355     Madrid   3273049.0
623  Barcelona   1619337.0
561   Valencia    809267.0
492    Sevilla    704198.0
591   Zaragoza    675121.0

In [ ]:
2.   Escriba los nombres de los 10 municipios con menos población.
3.  ¿Cuántos municipios de León tienen más de 6000 habitantes?.
4. ¿Cuál es el municipio situado más al Norte? (Usar el valor de la coordenada "Y" que representa la latitud en grados). Proporcione también la provincia a la que pertenece y su población.
5. ¿Cual es el municipio de la provincia de Cantabria situado más al Este?. ¿Cual es el situado más al Oeste?.
6. Dígame los nombres de los Municipios más cercano y más lejano a Madrid. Para ello debe calcular la distancia en todos ellos y Madrid. Por supuesto, Madrid no cuenta.
7. ¿Cuántos Municipios hay en un radio de 5 grados de la ciudad de Barcelona?.
8. Obtenga la media, mediana, desviación estándar, valor máximo y valor mínimo de la población de los municipios de la provincia de Cantabria.
9. Usando los métodos de agregación, calcular las poblaciones de cada provincia.
10. Dibujar el valor de la población para las diferentes ciudades (usar las funciones vistas en MatPlotLib).
11. Hacer un gráfico equivalente pero para las diferentes provincias. Seleccionar un punto representativo de las ciudades incluidas en cada provincia.

Series Temporales

Los ficheros precip.csv y precip.stn contienen los datos de precipitación diaria de los años 2000-2010 para 86 estaciones meteorológicas distribuidas por Europa. Leer ambos ficheros utilizando las funciones correspondientes de PANDAS y realizar lo siguiente:

1. Obtener y exportar en csv los datos asociados a las series mensuales, estacionales y anuales
2. Dibujar la serie temporal asociada al promedio espacial de los datos mensuales, estacionales y anuales.
3. Dibujar la distribución espacial de las estaciones, así como los valores promedio y máximo.
4. Calcular la frecuencia de días con precipitaciones mayores (>) de 1 mm.